.contact__heading-container{
	position: relative;
	flex-direction:column;
	justify-content:space-between;
}
.contact__email-container{
	flex-direction: column;
	align-items:center;
	p{
		margin-top:25px
	}
}

.button__hireMe-container{
	padding-top: 4%;
	padding-bottom: 11%;
	position: relative;
}

.button__hireMe{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	&:hover{
		background-color: #4dccb1;
		transform: translateX(-50%) scale(1.05);
    	transition: all ease 0.2s;
	}
}

.contact__form{
	padding-bottom: 50px;
}

.contact__heading{
	margin-top:60px;
	position: absolute;
	left:50%;
	transform:translateX(-50%);
	text-align: center;
	@include respond-to(medium){
		margin-top:40px;
	}
	&:before {
    content:"";
    border-top: 1px solid $darkGrey;
    display: inline-block;
    width: 15%;
    position: absolute;
    left:-20%;
    top:50%;
    transform: translateY(-50%);
  	}
	&:after {
    content:"";
    border-top: 1px solid $darkGrey;
    display: inline-block;
    width: 15%;
    position: absolute;
    right:-20%;
    top:50%;
    transform: translateY(-50%);
	}
}

.contact__tagline{
	padding-top: 120px;
	padding-bottom: 30px;
	@include respond-to(small){
		padding-top: 80px;
		padding-bottom: 0;
	}
}
.contact__p-container{
	position: relative;
	p{
		padding-bottom: 60px;
		text-align: center;
		@include respond-to(medium){
			padding: 5%;
		}
		@include respond-to(small){
			padding-bottom: 8%;
		}
	}
	.contact__p:after{
		content:"";
		border-bottom: 2px solid $medGrey;
	    width: 130px;
	    position: absolute;
	    left:50%;
	    bottom:0;
	    transform: translateX(-50%);
	    padding-bottom: 60px;
	    @include respond-to(small){
	    	width:100px;
	    }
	}
}
.fa-envelope-o{
	font-size: 20px;
}
.email__address{
	text-transform: uppercase;
	font-size: 20px;
}

.form__header{
	text-align: center;
	margin-top:80px;
	@include respond-to(small){
		margin-top: 35px;
	}
}
.form__row-one{
	margin-top:80px;
	justify-content: space-between;
	@include respond-to(small){
		flex-direction:column;
		margin-top: 40px;
	}
}

.form__row-two{
	margin-top: 70px;
	flex-direction: column;
	input{
		width:100%;
	}
	textarea{
		padding:10px;
	    border:1px solid $lightGrey;
	    background-color:$lightGrey;
	    font-size: 20px;
	     &:hover{
	    	background: $bodyGrey;
	    	border: 3px solid $yellow;
	    	border-radius: 10px;
	    	transition: all 0.3s;
	    	background-color: lighten($yellow, 30%);
	    }
	}
	label{
		margin-bottom: 10px;
	}

}

form{
	padding: 5%;
}

.input__text-name, 
.input__text-email{
	width:45%;
	flex-direction:column;
	@include respond-to (small){
		width:100%;
	}
	input{
		width:100%;
		padding:10px;
	    border:1px solid $lightGrey;
	  	font-size:25px;
	    background-color:$lightGrey;
	    @include respond-to (small){
	    	font-size:18px;
	    }
	    &:hover{
	    	background: $bodyGrey;
	    	border: 3px solid $yellow;
	    	border-radius: 10px;
	    	transition: all 0.3s;
	    	background-color: lighten($yellow, 30%);
	    }
	}
	label{
		margin-bottom: 10px;
	}
}
.button__submit-container{
	position: relative;
}

.button__submit-message{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	margin-top:50px;
	border:1px solid $cyan;
	border-radius:5px;
	background:$cyan;
	color:white;
	text-transform: uppercase;
	font-size: 20px;
	padding:16px 40px 16px 40px;
	@include respond-to (small){
	    font-size:16px;
	}
	&:hover{
		background-color: darken($cyan, 10%);
		transform:translateX(-50%) scale(1.05);
		transition:all ease 0.2s;
	}
}



