footer{
	margin-top:50px;
	h6:hover{
		color:darken($yellow, 10%);
		transition: all ease 0.1s;
	}
}

.footer__container{
	justify-content: space-between;
	@include respond-to(small){
		flex-direction: column;
		align-items: center;
	}
}

.footer__left,
.footer__right{
	width:50%;
	padding-top: 130px;
	@include respond-to(medium){
		padding-top: 80px;
	}
	@include respond-to(small){
		padding-top: 50px;
		width:90%;
	}
}

.footer__left-container,
.footer__right-container {
	padding: 5% 2% 2% 10%;
	@include respond-to (small){
		padding: 2%;
	}
}



.blog__heading-container,
.connect__heading-container{
	position: relative;
	margin-bottom: 60px;
	@include respond-to (medium){
		margin-bottom:30px;
	}
	&:after {
  	content: '';
    width: 100%;
    border-bottom: solid 1px $darkGrey;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.blog__post-two{
	margin-top: 20px;
}

.footer__h5{
	background-color: $bodyGrey;
    width: auto;
    display: inline-block;
    padding-right: 10px;
    z-index: 3;
    position: relative;
    margin: 0;
    @include respond-to(medium){
    	font-size: 16px;
    }
}

.footer__right{
	.icon__box{
		width:33%;
	}
	.icons{
		width:30px;
		img{
			width:100%;
		}
	}
}

.footer__icons{
	justify-content: space-between;
	@include respond-to(large){
		flex-wrap:wrap;
	}
}

.icon__box{
	flex-direction: column;
	justify-content: space-between;
	align-items:center;
	padding: 15px 5px 10px 5px;
	border-right:10px solid $bodyGrey;
	border: 1px solid rgba(0,0,0,0);
	@include respond-to(medium){
		flex: 0 1 50%;
	}
	&:last-child{
		border-right:none;
	}
	&:hover{
		background: $blue;
		border: 1px solid $blue;
		border-radius:10px;
		transition: all ease-in 0.2s;
	}
	p{
		margin-top: 10px;
		@include respond-to(medium){
			display:none;
		}
	}
	@include respond-to (medium){
		width:50%;
	}

}

.fa{
	color: $darkGrey;
	&:hover{
		color:darken($yellow, 10%);
		transform:scale(1.2);
		transition: all ease-in 0.2s;
	}
}

.fa-3x{
	@include respond-to(medium){
		display:none;
	}
}

.copyright{
	margin-top: 60px;
	background: $darkGrey;
	text-transform: uppercase;
	text-align: center;
	padding:30px;
	p{
		color:white;
	}
}

