body{
	font-family: $font;
	font-weight: 400;
	background: $bodyGrey;
	p {
		color:$darkGrey;
	}
}

.wrapper__big{
	max-width: 1230px;
	padding-top:90px;	
}

.wrapper{
	max-width: 1170px;
	margin: 0 auto;
}

.wrapper__small{
	max-width: 970px;
	margin:0 auto;
}

.wrapper__small-extra{
	max-width:700%;
	margin:0 auto;
}

.flex {
	display: flex;
}

h1,h2,h3,h4,h5,h6, p{
	margin:0;
	padding:0;
	color:$darkGrey;
}

h1, h2, h3 {
	font-weight:300;
	text-transform: uppercase;
}

h1{
	font-size: 64px;
}

h2{
	font-size: 45px;
	@include respond-to(large){
		font-size: 36px;
	}	
	@include respond-to(medium){
		font-size: 30px;
	}	
	@include respond-to(small){
		font-size: 24px;
	}	
}

h3{
	font-size: 35px;
	@include respond-to(large){
		font-size: 32px;
	}	
	@include respond-to(medium){
		font-size: 26px;
	}	
	@include respond-to(small){
		font-size: 22px;
	}	
}

h5{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	@include respond-to(medium){
		font-size: 16px;
	}
}

h6{
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	@include respond-to(medium){
		font-size: 12px;
	}
}

.small_grey{
	color:$textGrey;
	text-transform: uppercase;
	font-size: 14px;
}

p {
	font-size: 17px;
	font-weight: 400;
	line-height:24px;
}

.p__two{
	margin-top: 40px;
}

.tagline{
	display:block;
	text-align: center;
	text-transform: uppercase;
	font-size: 17px;
	color:$textGrey;
	padding-top: 80px;
	padding-bottom: 60px;
}

a {
	text-decoration: none;
	color:darken($cyan, 20%);
	&:hover{
		color: $cyan;
	}
}

li:hover{
	color:$cyan;
}

button{
	border:1px solid $cyan;
	border-radius:5px;
	background:$cyan;
	color:white;
	text-transform: uppercase;
	font-size: 20px;
	padding:16px 40px 16px 40px;
	box-shadow: 0 8px 10px -6px $textGrey;
	&:hover{
		background-color: darken($cyan, 10%);
		transform:scale(1.05);
		transition:all ease 0.2s;
		}
	@include respond-to (medium){
		font-size: 16px;
		padding:12px 25px 12px 25px;
		}
	@include respond-to (small){
		font-size: 13px;
		padding: 10px 14px 10px 14px;
		}
	}
	
