.site__banner{
	justify-content: space-between;
	position: fixed;
	background-color:$bodyGrey;
	width:100%;
	z-index:100;
	.site__banner-inner {
		justify-content:space-between;
	}
	@include respond-to(medium){
		position:static;
	}

}

.site__banner-icon{
	margin-top: 11%;
	height:44px;
	color:$darkGrey;
	padding-left:10px;
	@include respond-to (large){
		height:32px;
	}
	@include respond-to (medium){
		height:36px;
	}
}

.site__banner-logo{
	font-family:$logo;
	font-size: 38px;
	line-height: 36px;
	padding-top: 10px;
	padding-left: 10px;
	margin-top:11%;
	color:$darkGrey;
	@include respond-to (large){
		font-size: 30px;
	}
	@include respond-to (medium){
		font-size: 24px;
	}
}

nav {
	ul{
		margin:0;
		padding:0;
		margin-top:13%;
		margin-bottom:2%;
		@include respond-to(medium){
			flex-direction: column;
			padding-right: 40px;
			margin-top: 57px;
			margin-top:10%;
		}
		@include respond-to(small){
			padding-right: 20px;
		}
	}
	li{
		list-style: none;
		padding:5px 13px 5px 13px;
		border: 1px solid rgba(0,0,0,0);
		font-size: 15px;
		text-transform: uppercase;
		color:$darkGrey;
		@include respond-to(medium){
			border-bottom: 2px solid $cyan;
			font-size: 20px;
			padding:9px 0 5px 8px;
			text-align: right;
		}
		&:hover{
			background: $cyan;
			color:white;
			border: 1px solid $cyan;
			border-radius: 5px;
			padding:5px 18px 5 18px;
			transform:scale(1.1);
			transition: all ease-in 0.1s;
			@include respond-to (medium){
				background: lighten($cyan, 20%);
				color:$darkGrey;
			}
		}
	}
}

.site__title{
	margin-bottom: 110px;
	text-align: center;
	height:100vh;
	background-image: url(../../assets/coding2.jpg);
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	background-position-y:-50%;
	background-size: cover;
	justify-content:center;
	align-items:center;
	.cyan{
		color:$cyan;
	}
	@include respond-to(small){
		// margin-top: 65px;
		margin-bottom: 60px;
	}
	h1{
		max-width: 75%;
		background-color:$bodyGrey2;
		padding:2%;
		@include respond-to (x-large){
			font-size: 55px;
			margin: 0 auto;
		}
		@include respond-to (large){
			font-size: 45px;
			max-width: 630px;
		}
		@include respond-to (medium){
			font-size: 35px;
			max-width: 550px;
		}
		@include respond-to(small){
			font-size: 32px;
		}
	}
}

// .about{
// 	background-image: url(../../assets/coding2.jpg);
// 	background-size: cover;
// 	justify-content:center;
// }


.about__text-container{
	background: $bodyGrey2;
	margin-left: 80px;
	margin-right: 80px;
	align-self: flex-end;
	@include respond-to (large){
		margin-right: 10px;
		margin-left: 10px;
	}
	h3{
	 	padding: 85px 140px 60px 140px;
	 	text-align: center; 
	 	@include respond-to (x-large){
	 		font-size:30px;
	 		}
	 	@include respond-to (large){
	 		font-size: 26px;
	 		padding: 70px 110px 50px 140px;
	 		}
	 	@include respond-to (medium){
	 		font-size:20px;
	 		padding: 50px 60px 40px 65px;
	 		}
	 	@include respond-to (small){
	 		padding: 20px 40px 20px 37px;
	 		}
	 	}
	.about__text-p{
	 	padding-bottom: 115px;
	 	@include respond-to (medium){
	 		padding-bottom: 45px;
	 		}
	 	@include respond-to (small){
	 		padding-bottom: 30px;
	 		}
	 	}
	p{
	 	text-align: center;
	 	padding-left: 125px;
	 	padding-right: 125px;
	
		 @include respond-to(medium){
		 	padding-right: 45px;
		 	padding-left: 45px;
		 }
		 @include respond-to (small){
		 	padding-right: 20px;
		 	padding-left: 20px;
		 }
	}
}	

.button__projects{
	margin-bottom: 60px;
	@include respond-to (medium){
		margin-bottom: 50px;
	}
	@include respond-to (small){
		margin-bottom: 40px;
	}

	button{
		@include respond-to (medium){
		font-size: 16px;
		padding:12px 25px 12px 25px;
		}
	@include respond-to (small){
		font-size: 13px;
		padding: 10px 14px 10px 14px;
		}
	}
}

.button__container-home{
	flex-direction:column;
	align-items: center;
	.fa-bookmark-o{
		font-size: 50px;
		margin-top: 60px;
		margin-bottom: 60px;
	}

}

.project__link{
	font-style: 14px;
}




