.projects{
	margin:0 auto;
	.dragRace__img{
		box-shadow: 0 10px 14px -6px $medGrey;
		width:100%;
		border:4px solid $lightGrey;
		border-radius:5px;
	}

}

.projects__heading-container{
	position: relative;
	flex-direction:column;
	justify-content:space-between;
}

.projects__heading{
	position: absolute;
	left:50%;
	transform:translateX(-50%);
	text-align: center;
	margin-top: 60px;
	max-width: 700px;
	&:before {
    content:"";
    border-top: 1px solid $darkGrey;
    display: inline-block;
    width: 15%;
    position: absolute;
    left:-20%;
    top:50%;
    transform: translateY(-50%);
  	}
	&:after {
    content:"";
    border-top: 1px solid $darkGrey;
    display: inline-block;
    width: 15%;
    position: absolute;
    right:-20%;
    top:50%;
    transform: translateY(-50%);
  }
}

.projects__tagline{
	padding-top: 12%;
	@include respond-to(small){
		padding-top: 40%;
		padding-bottom:10%;
	}
}

.other__projects-heading{
	position: absolute;
	left:50%;
	transform:translateX(-50%);
	text-align: center;
	top:-35%;
	@include respond-to(medium){
		top:-2%;
	}
	@include respond-to(small){
		top:-8%;
	}
	&:before {
    content:"";
    border-top: 1px solid $darkGrey;
    display: inline-block;
    width: 15%;
    position: absolute;
    left:-20%;
    top:50%;
    transform: translateY(-50%);
  	}
	&:after {
    content:"";
    border-top: 1px solid $darkGrey;
    display: inline-block;
    width: 15%;
    position: absolute;
    right:-20%;
    top:50%;
    transform: translateY(-50%);
  }
}

.projects__featured{
	position: relative;
}

.other__projects{
	position: relative;
}

h3.hidden{
	display: none;
	@include respond-to(medium){
		display: block;
		margin-top: 30px;
		padding-bottom: 5px;
	}
}

.kitty__text-name,
.cocktail__text-name,
.univers__text-name{
	@include respond-to(medium){
		display: none;
	}
}

.dragRace__heading-container{
	left:50%;
	transform: translateX(-50%);
	max-width: 600px;
	text-align: center;
	position: relative;
	margin:0;
	padding:0;
	margin-top: 60px;
	&:before {
    content:"";
    border-top: 1px solid $darkGrey;
    display: inline-block;
    width: 15%;
    position: absolute;
    left:-10%;
    top:50%;
    transform: translateY(-50%);
  	}
	&:after {
    content:"";
    border-top: 1px solid $darkGrey;
    display: inline-block;
    width: 15%;
    position: absolute;
    right:-10%;
    top:50%;
    transform: translateY(-50%);
  }
}

.about__dragRace{
	margin-top: 60px;
	padding-bottom: 190px;
	.about__dragRace-heading{
		margin-bottom: 60px;
		@include respond-to(small){
			margin-bottom:36px;
		}
	}
	@include respond-to(medium){
		flex-direction:column;
		padding-bottom: 130px;
	}
	@include respond-to(small){
		padding-bottom: 100px;
	}
}

.about__dragRace-main{
	width:72%;
	padding-right: 130px;
	@include respond-to (large){
		width:66%;
		padding-right: 60px;
		padding-left: 10px;
	}
	@include respond-to(medium){
		width:100%;
		padding-right: 10px;
	}
}

.about__dragRace-aside{
	width:28%;
	@include respond-to(large){
		width:34%;
	}
	@include respond-to (medium){
		width:100%;
	}
	.project__link{
		margin-bottom: 40px;
		@include respond-to(medium){
			margin: 20px 10px 20px 10px;

		}
	}
}


.other__projects-container{
	justify-content: space-between;
	@include respond-to (medium){
		flex-direction: column;
		align-items:center;
	}
}


.projects__single{
	width:30%;
	@include respond-to (medium){
		width:80%;
	}
	img{
	box-shadow: 0 10px 14px -6px $medGrey;
	width:100%;
	&:hover{
		transform: scale(1.1);
		transition:all ease-in 0.2s;
		}
	}
}

.aside__text{
	flex-direction:column;
	justify-content:space-between;
	@include respond-to(medium){
		padding-right: 20px;
		padding-left: 20px;
		flex-direction: row;
	}
}

.aside__sub{
	margin-bottom: 10px;
}

.grey__title-light{
	color:$textGrey;
	text-transform: uppercase;
	font-size: 14px;
	@include respond-to(small){
		font-size: 12px;
	}
}

.grey__title-dark{
	text-transform: uppercase;
	line-height: 30px;
	&:hover{
		color:$cyan;
	}
	@include respond-to (small){
		font-size:13px;
		line-height:18px;
	}
}


