.skills{
	position: relative;
}

.skills__heading-container{
	flex-direction:column;
	justify-content:space-between;
	padding-top: 10%;
}

.skills__heading{
	position: absolute;
	left:50%;
	transform:translateX(-50%);
	text-align: center;
	&:before {
    content:"";
    border-top: 1px solid $darkGrey;
    display: inline-block;
    width: 35%;
    position: absolute;
    left:-40%;
    top:50%;
    transform: translateY(-50%);
  	}
	&:after {
    content:"";
    border-top: 1px solid $darkGrey;
    display: inline-block;
    width: 35%;
    position: absolute;
    right:-40%;
    top:50%;
    transform: translateY(-50%);
  }
}


.skills__tagline{
	padding-top: 70px;
	@include respond-to(small){
		padding-top: 40px;
		padding-bottom: 25px;
	}
}

.skills__cards{
	flex-wrap:wrap;
	justify-content: space-between;
	overflow: hidden;
}

.skills__card {
	padding: 6%;
	width:31%;
	margin-bottom: 30px;
	background: $lightCyan;
	overflow: hidden;
	img{
	width: 100%;
	}
	p{
		display: none;
	}
	&:hover{
		p{
			display: block;
		}
		transition: all ease-in 0.2s;
	}
}

.skill__cards-sublime{
	background: $cyan;
	position:relative;
	.skills__p-sublime{
		position: absolute;
		bottom:0;
		left: 50%;
		padding: 10px;
		transform: translateX(-50%);
		color:$medGrey;
		background:$bodyGrey3;
		text-transform: uppercase;

	}
}

.skills__card-html{
	background: $blue;
	position:relative;
	.skills__p-html{
		position: absolute;
		bottom:0;
		left: 50%;
		padding: 10px;
		transform: translateX(-50%);
		color:$medGrey;
		background:$bodyGrey3;
		text-transform: uppercase;
	}
}

.skills__card-sass{
	background: $purple;
	position: relative;
	.skills__p-sass{
		position: absolute;
		bottom:0;
		left: 50%;
		padding: 10px;
		transform: translateX(-50%);
		color:$medGrey;
		background:$bodyGrey3;
		text-transform: uppercase;
	}
}

.skills__card-javascript{
	background: $greyOne;
	position: relative;
	.skills__p-javascript{
		position: absolute;
		bottom:0;
		left: 50%;
		padding: 10px;
		transform: translateX(-50%);
		color:$medGrey;
		background:$bodyGrey3;
		text-transform: uppercase;
	}
}

.skills__card-jquery{
	background: $greyTwo;
	position: relative;
	.skills__p-jquery{
		position: absolute;
		bottom:0;
		left: 50%;
		padding: 10px;
		transform: translateX(-50%);
		color:$medGrey;
		background:$bodyGrey3;
		text-transform: uppercase;
	}
}

.skills__card-react{
	background: $greyThree;
	position: relative;
	.skills__p-react{
		position: absolute;
		bottom:0;
		left: 50%;
		padding: 10px;
		transform: translateX(-50%);
		color:$medGrey;
		background:$bodyGrey3;
		text-transform: uppercase;
	}
}

.skills__card-git{
	background: $yellow;
	position: relative;
	.skills__p-git{
		position: absolute;
		bottom:0;
		left: 50%;
		padding: 10px;
		transform: translateX(-50%);
		color:$medGrey;
		background:$bodyGrey3;
		text-transform: uppercase;
	}
}

.skills__card-gulp{
	background: $greyFour;
	position: relative;
	.skills__p-gulp{
		position: absolute;
		bottom:0;
		left: 50%;
		padding: 10px;
		transform: translateX(-50%);
		color:$medGrey;
		background:$bodyGrey3;
		text-transform: uppercase;
	}
}

.skills__card-github{
	background: $green;
	position: relative;
	.skills__p-github{
		position: absolute;
		bottom:0;
		left: 50%;
		padding: 10px;
		transform: translateX(-50%);
		color:$medGrey;
		background:$bodyGrey3;
		text-transform: uppercase;
	}
}


