$font:'Lato', sans-serif;
$logo:'Montserrat', sans-serif;

// colours

$cyan: rgb(117, 215, 194);
$darkGrey: rgb(37, 49, 55);
$medGrey: rgb(52, 62, 72);
$lightGrey: rgb(230, 230, 230);
$textGrey: rgb(174, 175, 175);
$bodyGrey: rgb(252, 252, 252);
$bodyGrey2: rgba(252, 252, 252, 0.9);
$bodyGrey3: rgba(252, 252, 252, 0.7);


// card colors
$lightCyan: rgb(169, 227, 219);
$blue: rgb(151, 221, 238);
$purple: rgb(211, 203, 234);
$greyOne:rgb(76, 72, 79);
$greyTwo:rgb(69, 68, 62);
$greyThree:rgb(73, 62, 81);
$yellow:rgb(250, 211, 95);
$greyFour: rgb(75,92, 96);
$green: rgb(132, 181, 92);